/*/////////////////////////////////////////////////////////
//Allgemeine Einstellungen
/////////////////////////////////////////////////////////*/
*
{
    box-sizing: border-box;
}

main, footer, header
{
    background-color: #FAFAFA;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Aref Ruqaa', serif;
}
.wrapper 
{
    width: 66%;
    margin: 0 auto;
}

/*/////////////////////////////////////////////////////////
//HEADER-NAVIGATION
/////////////////////////////////////////////////////////*/
nav
{
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: lightcoral}

.dropdown:hover .dropdown-content {
    display: block;
}
/*/////////////////////////////////////////////////////////
//Flexbox
/////////////////////////////////////////////////////////*/
.flex-container {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    text-align: left;
    
}
.flex-container li
{
    width: auto;
    height: auto;
    background-color: #ddc69c80;
    margin: auto;
    line-height: 2;
    font-size: 1em;
    text-align: center;
    border-bottom-width: 10px;
    border-bottom-style: solid; 
    border-bottom-color: #FAFAFA;
    display: list-item;
}
.flex-container img
{
    width: 50%;
    max-width: 800px;
}
/*/////////////////////////////////////////////////////////
//LINK AS BUTTON
/////////////////////////////////////////////////////////*/
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    float: right;
    text-decoration: none;
    color: initial; 
    position: fixed;
    left: 87%;
}
